.not-found {
    height: 100%;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 530px;
            height: 210px;

            @media screen and (min-width: 768px) and (max-width: 1300px) { 
                width: 429px;
                height: 169px;
            }
        }

        &_title, &_subTitle {
            color: $dark;
            font-family: $regularFont;
            text-align: center;
        }

        &_title {

            font-weight: $medium;
            font-size: 30px;
            line-height: 35px;
            margin: 44px 0 10px 0;
        }

        &_subTitle {
            font-size: 20px;
            line-height: 23px;
        }
    }

    &__body {
        background-color: $bgColor;
    }
}